---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  id="about"
  title="关于我"
  description="在校大学生，正在努力学习，为自己的未来拼搏"
  pubDate={new Date("January 15 2025")}
  tags={[]}
>
  <p>喜欢折腾新技术，可能会遇到很多困难，但乐在其中。</p>
  <p>
    在学：
    <ul>
      <li>
        <a href="https://docs.astro.build/zh-cn/tutorial/" target="_blank">
          Astro
        </a>
      </li>
      <li>
        <a href="https://kubernetes.io/zh-cn/docs/home/" target="_blank">
          k8s
        </a>
      </li>
    </ul>
    已学：
    <ul>
      <li>[25.1.26] Docker</li>
    </ul>
  </p>
</BlogPost>
