---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  id="about"
  title="关于我"
  description="在校大学生，正在努力学习，为自己的未来拼搏"
  pubDate={new Date("January 15 2025")}
  tags={[]}
>
  <p>
    在校大学生，正在努力学习，为自己的未来拼搏。<br />
    喜欢折腾新技术，可能会遇到很多困难，但乐在其中。
  </p>

  <p>
    最喜欢的玩具是VPS：
    <ul>
      <li>
        通过 VPS 可以应用许多技术，学习到很多知识。各种命令、编译工具，还有
        Docker，数不胜数。
      </li>
      <li>学以致用，才是王道。</li>
    </ul>
  </p>

  <p>
    闲暇时喜欢看番：
    <ul>
      <li>有些番剧内容深刻，不仅能满足精神需求，还能从中领悟一些道理。</li>
      <li>番剧一开，耳机一戴，静下心来，享受片刻的宁静。</li>
    </ul>
  </p>
  <p>
    <strong>正在学习：</strong>
    <ul>
      <li>
        <a
          href="https://zh-hans.react.dev/learn"
          target="_blank"
          rel="noopener noreferrer"
        >
          React
        </a>
      </li>
      <a
        href="https://docs.astro.build/zh-cn/tutorial/0-introduction/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Astro
      </a>
    </ul>
  </p>
</BlogPost>
