---
import BlogPost from "../layouts/BlogPost.astro";
---

<BlogPost
  id="about"
  title="关于我"
  description="在校大学生，正在努力学习，为自己的未来拼搏"
  pubDate={new Date("January 15 2025")}
  tags={[]}
>
  <p>
    喜欢折腾新技术，可能会遇到很多困难，但乐在其中。
  </p>
  <p>
    正在学习：
    <ul>
      <li>
        <a
          href="https://docs.astro.build/zh-cn/tutorial/0-introduction/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Astro
        </a>
      </li>
      <li>
        Docker
      </li>
    </ul>
  </p>
</BlogPost>
