---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
---

<Layout>
  <div class="prose">
    <p>
      {SITE_DESCRIPTION}
    </p>
    <p>Here is something about me:</p>
    <ul>
      <li>🔭 I'm currently studying in university.</li>
      <li>🌱 I'm fighting for my future.</li>
      <li>📫 How to reach me: You can use e-mail or telegram.</li>
      <li>🏹 Cherish what you love, Pursue what you desire.</li>
    </ul>
    <p>UNIX 哲学：</p>
    <ul>
      <li>
        使每个程序做好一件事。若要做新的工作，则重新构建，而不是通过添加新功能使旧程序复杂化。
      </li>
      <li>
        期望每个程序的输出成为另外一个未知程序的输入。不要杂乱无章地输出信息，避免使用严格的柱状或二进制输入格式。不要执拗于交互式输入。
      </li>
      <li>
        设计和构建软件甚至是操作系统都要尽早尝试，数周之内较为理想。遇到笨重的部分，不要犹豫，扔掉并重建它们。
      </li>
      <li>
        为了减轻编程任务，优化使用工具，即使你不得不绕道构建一部分用完后便会抛弃的工具（这也是值得的）。
      </li>
    </ul>
    <p>
      Have fun, if you have any questions you can contact me at <a
        href="mailto:mobaisilent@gmail.com">mobaisilent@gmail.com</a
      >.
    </p>
  </div>
</Layout>
