---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
import IconLink from "./IconLink.astro";

const BASE_URL = import.meta.env.BASE_URL;
---

<header>
  <a class="title" href={BASE_URL}>
    <h1>{SITE_TITLE}</h1>
  </a>
  <nav>
    <p>
      <HeaderLink href={BASE_URL} aria-label="Home">Home</HeaderLink>
      <HeaderLink href={BASE_URL + "blog"} aria-label="Blog">Blog</HeaderLink>
      <HeaderLink href={BASE_URL + "about"} aria-label="About">About</HeaderLink
      >
    </p>
    <div>
      <IconLink name="RSS" href={BASE_URL + "rss.xml"} label="RSS" />
      <IconLink
        name="Github"
        href="https://github.com/ChurchTao/PlainPage"
        label="GitHub"
        target="_blank"
      />
      <ThemeToggle />
    </div>
  </nav>
</header>

<style>
  nav {
    position: relative;
  }
  nav div {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
  }
</style>
